/* Styles for Headers */
h1 {
	color: var(--title-color);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 40px;
	margin: 0;
	/* margin-top: 4vh; */
	text-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.8);
	letter-spacing: 1px;

	height: 0;
	transform: translate(-32vh, 28px) rotate(-15deg);
}

h2#turn-indicator {
	/* margin: 0; */
	margin-top: 8vh;
	margin-bottom: 0px;
	/* margin-bottom: 2vh; */
	color: rgba(253, 253, 253, 0.9);
	background-color: #333;
	text-transform: uppercase;
	padding: 15px;
	/* letter-spacing: 0.5px; */
}

/* h2#turn-indicator #player-indicator.player1 {
	color: var(--player1-color);
}

h2#turn-indicator #player-indicator.player2 {
	color: var(--player2-color);
} */

.player1 {
	color: var(--player1-color);
}

.player2 {
	color: var(--player2-color);
}

#reset-button {
	padding: 7px;
	border-radius: 10px;
	
	/* Maybe TODO: Sake button width same size as board */
	margin: 10px 0px;
	/* margin: 0px; */
	/* width: 100%; */

	/* Maybe TODO: make button change color with player */
	/* background: var(--player2-color);	 */
	/* color: var(--player1-color); */
}

