/* Variables */
:root {
	--player1-color: yellow;
	--player2-color: red;
	--board-background-color-base: dodgerblue;
	--board-background-color-highlight: rgba(94, 174, 255, 0.9);
	--title-color: blue;
	--empty-slot-color: white;
}


