/* Styles for Connect Four */
:root {
	--player1-color: yellow;
	--player2-color: red;
	--background-color: dodgerblue;
	--empty-color: white;
}

#board {
	display: grid;
	grid-template-rows: repeat(6, 100px);
	grid-template-columns: repeat(7, 100px);
	margin: auto;
	width: 100%;
	max-width: 700px;
}

.slot {
	background-color: var(--background-color);
	padding: 10px;
}

.slot label {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background-color: var(--empty-color);
	box-shadow: inset 1.5px 1.5px 3px 2px rgba(0, 0, 0, 0.2);

}

.slot label.player1 {
	background-color: var(--player1-color);
}

.slot label.player2 {
	background-color: var(--player2-color);
}

.slot input[type=checkbox] {
	display: none;
}

